<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title%}</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="{% url 'home' %}">Home</a></h1>
						<nav class="links">
							<ul>
								{% if user.is_authenticated %}
								<li><a href="{% url 'profile' %}">My Profile</a></li>
								{% endif %}

								{% if user.is_authenticated %}
								<li><a href="{% url 'logout' %}">Log Out</a></li>
								{% endif %}

								{% if not user.is_authenticated %}
								<li><a href="{% url 'login' %}">Log In</a></li>
								{% endif %}
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="{% url 'home' %}">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="{% url 'home' %}">
											<h3>Homepage</h3>
										</a>
									</li>
									<li>
										<h3 class="opener">Category</h3>
										<ul>
											{% for category in categories %}
											<li><a href="{% url 'category' category.slug %}">{{ category }}</a></li>
											{% endfor %}
										</ul>
									</li>
									<li>
										<a href="{% url 'post_create' %}">
											<h3>Add a new post</h3>
										</a>
									</li>
									<li>
										<a href="{% url 'home' %}?filter=new">
											<h3>See New Posts</h3>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Future Tours</h3>
										</a>
									</li>

								</ul>
							</section>

						<!-- Actions -->


							<section>
								<ul class="actions stacked">
									{% if not user.is_authenticated %}
									<li><a href="{% url 'login' %}" class="button fit">Log In</a></li>
									{% endif %}
								</ul>

								<ul class="actions stacked">
									{% if user.is_authenticated %}
									<li><a href="{% url 'profile' %}" class="button fit">My profile</a></li>
									{% endif %}
								</ul>

								<form action="{% url 'change_password' %}" method="post">
									{% if user.is_authenticated %}
									{% csrf_token %}
									<input type="submit" value="change password" class="button fit">
										{% endif %}
								</form>


								<form action="{% url 'logout' %}" method="post">
									{% if user.is_authenticated %}
								{% csrf_token %}
								<input type="submit" value="logout" class="button fit">
									{% endif %}
							</form>
								</section>

					</section>

				<!-- Main -->
<div id="main">

							{% block content %}



                            {% endblock %}
</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="#" alt="" /></a>
								<header>
									<h2>Time to travel</h2>
									<p>Let's travel with us<a href=""></a></p>
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
								<p> Popular Posts in this page:</p>
								{% for post in posts %}
								{% if post.total_likes == 2 %}


								<div class="mini-posts">

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
												<p>{{ post.region }}</p>
												<time class="published" datetime="2015-10-20">{{ post.created_at }}</time>
												<a href="#" class="author"><img src="{{ post.owner.image.url }}" alt="" /></a>
											</header>
											<a href="{% url 'post_detail' post.id %}" class="image"><img src="{{ post.get_image }}" alt="" /></a>
										</article>

									<!-- Mini Post -->
								</div>
{% endif %}
								{% endfor %}



							</section>

						<!-- Posts List -->
							<section>
								<p>Your Posts in this page:</p>
								{% for post in posts %}
								{% if post.owner == request.user %}

								<ul class="posts">
									<li>
										<article>
											<header>
												<h3><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
												<time class="published" datetime="2015-10-20">{{ post.created_at }}</time>
											</header>
											<a href="{% url 'post_detail' post.id %}" class="image"><img src="{{ post.get_image }}" alt="" /></a>
										</article>
									</li>

								</ul>
								{% endif %}
								{% endfor %}

							</section>

						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>This is a blog about beautiful places in Kyrgyzstan where you can go to travel.
									You can also register and share the places you have been to and tell other users about them.
									Let's develop tourism in Kyrgyzstan together!</p>
								<h2 class="icon solid fa-heart"><a href="{% url 'login' %}">Let's travel together</a></h2>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>

					</section>

			    </div>


		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

</body>
</html>