{% extends 'base.html' %}
{% load static %}
{% block content %}

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">{{ category.name }}</a></h2>
										<h4 class="icon solid fa-heart">Kyrgystan</h4>
									</div>

								</header>
								<span class="image featured"><img src="{{ category.image.url }}" alt="" /></span>
								<p>{{ category.description }}</p>

								{% if category.get_children %}
								{% for child in category.get_children %}
								<a href="{% url 'category' child.slug %}"><li>{{ child }}</li></a>
								{% endfor %}
								{% endif %}

							{% if not category.get_children %}

							</article>


							<section>
								<div class="mini-posts">
									{% for post in posts %}

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
												<p>{{ post.region }}</p>
												<time class="published" datetime="2015-10-20">{{ post.created_at }}</time>
												<a href="#" class="author"><img src="{{ post.owner.image.url }}" alt="" /></a>
											</header>
											<a href="{% url 'post_detail' post.id %}" class="image featured"><img src="{{ post.get_image }}" alt="" /></a>

										</article>
									{% endfor %}
								</div>

							</section>
							{% endif %}
{% endblock %}