{% extends 'base.html' %}
{% load static %}
{% block content %}

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">{{ post.title }}</a></h2>
										<p>{{ post.region }}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{ post.created_at }}</time>
										<a href="#" class="author"><span class="name">{{ post.owner }}</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="{{ post.get_image }}" alt="" /></span>
								{% for image in images %}
								<img src="{{ image }}" class="img" alt="..." style="width:462px; heigth:200px!important;">
								{% endfor %}

								<p>{{ post.description }}</p>
								<footer>
									<ul class="stats">
										<li><a href="{% url 'post_update' post.id %}">Update</a></li>
										<li><a href="{% url 'post_delete' post.id %}">Delete</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>

					</div>

{% endblock %}