{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="card mt-5">
                    <img src="{% static 'img/m.jpg' %}" width="100%" height="auto" class="card-img-top" alt="...">

                    <div class="card-body">


{% if messages %}
    {% for message in messages %}

       <div class="alert alert-success">
            {{ message }}
       </div>

    {% endfor %}
{% endif %}
<br/>
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control form-control-sm" type="text" name="username" value="{{ data.username }}" placeholder="Email">
                            </div>
                            <br/>
                            <div class="form-group">
                                <input class="form-control form-control-sm" type="password" name="password" value="{{ data.password }}" placeholder="Password">
                            </div>
                            <br/>
                            <input type="submit" value="Submit" class="btn btn-sm btn btn-success col-12"/>


                        </form>
                        <br/>

                    </div>
                </div>

                <div class="card mt-2">
                    <div class="card-body">
                        <p>
                            Forgot password? <a href="{% url 'reset_password' %}">Reset Password </a>
                        </p>


                    </div>
                </div>

                <div class="card mt-2">
                    <div class="card-body">
                        <p>
                            Login with Gmail <a href="##">Login with Gmail </a>
                        </p>


                    </div>
                </div>

                <div class="card mt-2">
                    <div class="card-body">
                        <p>
                            Need an account? <a href="{% url 'register' %}">Register</a>
                        </p>


                    </div>
                </div>



            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
    <div class="col-md-3"></div>

</div>

{% endblock %}
