{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="card mt-5">
                    <img src="{% static 'img/m.jpg' %}" width="100%" height="auto" class="card-img-top" alt="...">

                    <div class="card-body">
                        <a href="" class="btn btn btn-success btn-sm col-12"><i class="fa fa-google" aria-hidden="true"></i> Login with Gmail</a>

                        <div class="row">
                            <div class="col-md-5">
                                <hr>
                            </div>
                            <div class="col-md-2">
                                <p class="text-muted">OR</p>
                            </div>
                            <div class="col-md-5">
                                <hr>
                            </div>
                        </div>

{% if messages %}
    {% for message in messages %}

       <div class="alert alert-danger" style="font-size: 14px">
            {{ message }}
       </div>

    {% endfor %}
{% endif %}

                      <h1>Sign Up</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sumbit</button>
    </form>


                    </div>
                </div>

                <div class="card mt-2">
                    <div class="card-body">
                        <p>
                            Already have an account? <a href="{% url 'login' %}">Login</a>
                        </p>


                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
    <div class="col-md-3"></div>

</div>

{% endblock %}
